/* stuff that affects the entire doc's format and appearance*/
body{
	font-family:'Roboto', sans-serif;
	background-image: url(images/crossword.png);
}
article {
	width: 960px;
	margin: auto;
}

a:link{color: #95918C;}
a:visited{color: #95918C;}
a:hover{color:#A2ADD0;}
a:active{color:#7366BD;}

/* header stuff */

header{
	text-align: center;
	color: #FBFBFB;
	background-color: #9D81BA;
	font-family: 'Playfair Display SC', serif;
}

/* sidebar stuff */

aside{
	float: left;
	max-width: 30%;
	font-size: 14px;
	margin: 20px;
}

#profile_pic{
	display:  block;
	margin-left: auto;
	margin-right: auto;
	/*border: 4px fuchsia solid;*/
	border-radius: 100%;
}

#name{
	font-size: 20px;
	font-family: 'Special Elite', cursive;
	font-weight: bold;
	color: #7366BD;
	text-align: center;
}

.sidebar_text{
	color: #9D81BA;
	text-align: center;
}

.social{
  float: left;
  margin: 5px 5px 5px;
  margin-top: 30px;

}


/* content */
.date{
	font-size: 18px;
	color: #9D81BA;
}

h2{
	font-size: 20px;
	color: #7366BD;
}

h3{	
	font-size: 18px;
	color: #9D81BA;
}

section{
	float: right;
	max-width: 70%;
	}

p{
	color: #95918C;
}

/* footer */
footer{
	clear:both;
	text-align: center;
	border-top: 5px solid #9D81BA;
}

/* Other */

.caption{
	font-size: 12px;
	text-align: center;
}

img{
	display:  block;
	margin-left: auto;
	margin-right: auto;
}

