/* stuff that affects the entire doc's format*/
body{
	font-family: arial;
	background-image: url(images/tree_bark.png);
}
article {
	width: 960px;
	margin: auto;
}
/* header stuff */

header{
	text-align: center;
	color: fuchsia;
	font-family: 'Lobster', cursive;
}

/* sidebar stuff */

aside{
	float: left;
	max-width: 30%;
	font-size: 14px;
}

.name{
	font-size:18px;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	color: teal;
}

/* content */
section{
	float: right;
	max-width: 70%;
	}

footer{
	clear:both;
	text-align: center;
	border-top: 6px solid fuchsia;
}

