/* stuff that affects the entire doc's format and appearance*/
body{
	font-family: arial;
	background-image: url(images/tree_bark.png);
}
article {
	width: 960px;
	margin: auto;
}

a:link{color:fuchsia;}
a:visited{color:lime;}
a:hover{color:#A2ADD0;}
a:active{color:teal;}

/* header stuff */

header{
	text-align: center;
	color: fuchsia;
	background-color: #A2ADD0;
	font-family: 'Playfair Display SC', serif;
}

/* sidebar stuff */

aside{
	float: left;
	max-width: 30%;
	font-size: 14px;
}

.name{
	font-size:18px;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	color: #7366BD;
}

.sidebar_text{
	color: #9D81BA;
}

/* content */
.date{
	font-size: 18px;
	color: #9D81BA;
}

section{
	float: right;
	max-width: 70%;
	}


/* footer */
footer{
	clear:both;
	text-align: center;
	border-top: 6px solid fuchsia;
}

/* Misc for images and captions */

.caption{
	font-size: 12px;
	text-align: center;
}

img{
	display:  block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

